<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">
    <link rel="icon" href="~/images/logo.png">

    <!-- Title Page-->
    <title>Makale Web Giriş Sayfası</title>

    <!-- Icons font CSS-->
    <link href="~/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <!-- Vendor CSS-->
    <link href="~/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">
    <!-- Main CSS-->
    <link href="~/css/main.css" rel="stylesheet" media="all">





</head>
<body>
    <div class="page-wrapper bg-red p-t-180 p-b-100 font-robo">
        <div class="wrapper wrapper--w960">
            <div class="card card-2">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title">Makale Web Giriş Sayfası</h2>

                        <div class="input-group">
                            <input class="input--style-2" type="text" id="username" placeholder="Kullanıcı Adı" name="name">
                        </div>
                        <div class="input-group">
                            <input class="input--style-2" type="password" id="password" placeholder="Şife" name="name">
                        </div>
                        <div class="p-t-30">
                            <button class="btn btn--radius btn--green" id="btn_Login" type="submit" style="width:100%">Giriş Yap</button> 
                            <label style="width:100%;display:block;text-align:right;"><a href="/Home/SignUp" style="text-decoration:none;color:#fa4251;font-size:18px">Kayıt Ol</a></label>
                        </div>
                       
                
                </div>
            </div>
        </div>
    </div>
    <!-- Jquery JS-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="~/vendor/select2/select2.min.js"></script>
    <script src="~/vendor/datepicker/moment.min.js"></script>
    <script src="~/vendor/datepicker/daterangepicker.js"></script>
    <!-- Main JS-->
    <script src="~/js/global.js"></script>

    <script>
        $(document).ready(function () {
            $("#btn_Login").click(function () {
                var _username = $("#username").val();
                var _pass = $("#password").val();
                $.ajax({
                    url: "/Home/LoginControl",
                    type: "POST",
                    data: { username: _username, password: _pass },
                    success: SuccessResult,
                    error: function () {
                        alert("Kullanıcı adınız ve/veya Şifreniz hatalıdır");
                    }
                })
                function SuccessResult(result) {
                    if (result == "success") {
                        window.location.replace("/Home/Index")
                    }
                    else
                        alert("Kullanıcı adınız ve/veya Şifreniz hatalıdır");
                }
            })
        })
    </script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
<!-- end document-->