<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">
    <link rel="icon" href="~/images/logo.png">

    <!-- Title Page-->
    <title>Makale Web Kayıt Sayfası</title>

    <!-- Icons font CSS-->
    <link href="~/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <!-- Vendor CSS-->
    <link href="~/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">
    <!-- Main CSS-->
    <link href="~/css/main.css" rel="stylesheet" media="all">
</head>
<body>
    <div class="page-wrapper bg-red p-t-180 p-b-100 font-robo">
        <div class="wrapper wrapper--w960">
            <div class="card card-2">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title">Makale Web Kayıt Sayfası</h2>
                
                        <div class="row row-space">
                            <div class="input-group col-2">
                                <input class="input--style-2" type="text" placeholder="İsim*" id="txt_firstName">
                            </div>
                            <div class="input-group col-2">
                                <input class="input--style-2" type="text" placeholder="Soyisim*" id="txt_lastName">
                            </div>
                        </div>

                        <div class="input-group">
                            <input class="input--style-2 js-datepicker" type="text" placeholder="Doğum Tarihi*" id="txt_dateOfBirth">
                            <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                        </div>
                        <div class="input-group">
                            <input class="input--style-2" type="text" placeholder="Kullanıcı Adı*" id="txt_userName">
                        </div>
                        <div class="row row-space">
                            <div class="input-group col-2">
                                <input class="input--style-2" type="password" placeholder="Şifre*" id="txt_password">
                            </div>
                            <div class="input-group col-2">
                                <input class="input--style-2" type="password" placeholder="Şifre Tekrar*" id="txt_tryPassword">
                            </div>
                        </div>

                        <div class="p-t-30">
                            <button class="btn btn--radius btn--green" type="submit" style="width:100%" id="btn_singUp">Kayıt Ol</button>
                            <label style="width:100%;display:block;text-align:right;"><a href="/Home/Login" style="text-decoration:none;color:#fa4251;font-size:18px">Giriş Yap</a></label>

                        </div>
                  
                </div>
            </div>
        </div>
    </div>
    <!-- Jquery JS-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="~/vendor/select2/select2.min.js"></script>
    <script src="~/vendor/datepicker/moment.min.js"></script>
    <script src="~/vendor/datepicker/daterangepicker.js"></script>
    <!-- Main JS-->
    <script src="~/js/global.js"></script>

    <script>
        $(document).ready(function () {
            $("#btn_singUp").click(function () {
                var _userFirstName = $("#txt_firstName").val();
                var _userLastName = $("#txt_lastName").val();
                var _userDateOfBirth = $("#txt_dateOfBirth").val();
                var _userName = $("#txt_userName").val();
                var _userPassword = $("#txt_password").val();
                var _userTryPassword = $("#txt_tryPassword").val();
                if (_userPassword != _userTryPassword) {
                    alert('Girdiğiniz Şifreler Aynı Değil!!! Girilen Şifre Tekrar Şifre İle Aynı Olmalıdır.');
                    return;
                }
                $.ajax({
                    url: "/Home/SignUp",
                    type: "POST",
                    data: {
                        userFirstName: _userFirstName, userLastName: _userLastName, userDateOfBirth: _userDateOfBirth,
                        userName: _userName, userPassword: _userPassword, userTryPassword: _userTryPassword
                    },
                    success: SuccessResult,
                    error: function () {
                        alert("Kayıt İşlemi Başarısız!!! Girilen Bilgileri Kontrol Ediniz.");
                    }
                })
                function SuccessResult(result) {
                    if (result == "success") {
                        window.location.replace("/Home/Login")
                    }
                    else
                        alert("Kayıt İşlemi Başarısız!!! Girilen Bilgileri Kontrol Ediniz.");
                }
            })
        })
    </script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
<!-- end document-->